.card {
    width: 500px;
    margin-left: 25%;
    margin-top: 1%;
    padding: 3%;
    
}

nav{
    position: fixed;  
}

.nav-link:hover{
    color:#7e1fff;
}

#news:hover{
    border-color: #7e1fff;
}

#news {
    display: inline-table;
    margin: 1%;
}

#search{ 
    border: solid black;
    width: 50%;
}

#search:focus{
    border-color: #7e1fff;
}

#mainForm{
    display: inline;
    float: left;
    border:solid black;
    margin: auto;
    padding: 5%;
    width:60%;
}

.sticky{
    position: sticky;
    top:0;
}

.table-wrapper{
    max-height: 50%;
  overflow: auto;
  display:inline-block;
}



table{
    display: block;
    margin: 10%;
}

tbody{
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#company{
    width:70%;
    margin-left:15%;
}

#company:hover{
    border-color: #7e1fff;
}


.submit{
    border-color:#7e1fff ;
    background-color: white;
    color:#7e1fff;
}

.submit:hover{
    background-color: #7e1fff;
    color:white;
}

.form-control{
    width:40%;
}

.green{
    color:green;
}

.red{
    color:red;
}

.black{
    color:black;
}

.regularMarket{
    margin-right: 5%;
    margin-left: 5%;
    display: inline;
    float: left;
}

.quotes{
    border-bottom: solid black;
}

#nameError,#emailError,#pswdError{
    color:red
} 