{% extends "main.html" %}

{% block content %}
<script type="text/javascript">
    function makeComment(button){
        //need to add validations
        event.preventDefault()
        parent = button.parentElement.getAttribute('data-post')
        text = document.getElementById(parent)
        if(!text.value){
            alert("Please enter comment")
            return
        }
        data = {
            comment: text.value,
            postId: parent
        } 

        
        $.ajax({
            type: "POST",
            url: "/posts/comment",
            
            data: data,
            success: function(data) {
                      
                      // Ajax call completed successfully
                      alert("Comment Submited Successfully");
                      location.reload()
                  },
            error: function(data) {
                        
                      // Some error in ajax call
                      
                      alert("Please login to make a comment ",data.status);
                      text.value = ''
                  }
        })
    
    }
</script>
{% if session %}
<a href="/posts"><button class="submit btn">Create Post</button></a>
{% endif %}
{% for i in posts %}
<div class="card">
    <div class="card-header">
    <h3>{{ i.title }}</h3>
    </div>
    <div class="card-body">
    <p>
        {{ i.body }}
    </p>
    </div>
    <div class="card-footer">
    by: {{i.by}} posted on: {{ i.postedOn }}
    {% if session %}
    <form data-post="{{ i._id }}" id="commentForm">
        <div class="input-group">
            <span class="input-group-text">Comment</span>
            <textarea id="{{ i._id }}" name="comment" class="form-control" name="body" aria-label="Comment" required></textarea>
          </div>
    <button id="submit" type="submit" class="submit btn" onclick="makeComment(this)">Submit</button>
    </form>
    {% endif %}
    <div class="overflow-auto">
      
        {% if i.comments|length > 0  %}
            {% for c in i.comments %}
                comment by - {{ c.commentBy }}
                <p>{{ c.comment }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
{% endfor %}

{% endblock %}