{% extends "main.html" %}

{% block content %}
<div>
    <div id="profile">
        <label>Name: </label> <input class="form-control" type=text value="{{user.firstName}} {{user.lastName}}" disabled/> <br>
        <label>Email: </label> <input class="form-control" type="email" value="{{user.email}}" disabled/>
    </div>
    <div id="myTickers">
        {% if user.tickers|length > 0 %}
            <h4>My Tickers</h4>
            <ul id="myTickerList" class="list-group list-group-horizontal">
            {% for i in user.tickers %}
                <li class="list-group-item"><a id="myTickerLink" href="/stock/get?search={{i}}">{{i}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>You are not Tracking any Tickers at the moment</h4>
        {% endif %}
    </div>
    <div id="myPosts">
    <h4>My Posts</h4>

    
        {% if posts|length > 0 %}
        {% for i in posts %}
        <div id="myPostCard" data-post="{{i._id}}" class="card">
            <button type="submit" id="delete" title="delete" class="btn btn-outline-danger glyphicon glyphicon-trash" onclick="deletePost(this)"></button>
        <div class="card-title">
            <h3>{{ i.title }}</h3>
            </div>
            <div class="card-body">
            <p>
                {{ i.body }}
            </p>
            posted on: {{ i.postedOn }}
        </div>
    </div>
            {% endfor %}
        {% else %}
            <h4>You have made no posts</h4>
        {% endif %}
  
    </div>
</div>
<script type="text/javascript">
    function deletePost(button){
        event.preventDefault()
        parent = button.parentElement.getAttribute('data-post')
        console.log(parent)
        data = {
            "id":parent
        }

        $.ajax({
            type: "DELETE",
            url:"/user/deletepost",
            data:data,
            success: function(data) {
                      
                      // Ajax call completed successfully
                      alert("Post Deleted Successfully");
                      location.reload()
                  },
            error: function(data) {
                      console.log(data)
                      // Some error in ajax call
                      alert("Something went wrong",data.status);
                  }
        })
    }
    
</script>
{% endblock %}