{% extends "base.html" %}

    {% block content %}

        <div class="card">
            <div class="card-body">
            <h1>Signup</h1>
            
            <form id="myForm" action="/user/signup" method="post">
                <div class="mb-3">
                    <div id="nameError"></div>
                    <input class="form-control" type="text" name="name" placeholder="name" required/>
                </div>
                <div class="mb-3">
                    <div id="emailError"></div>
                    <input class="form-control" type="email" name="email" placeholder="email" required/>
                </div>
                <div class="mb-3">
                    <div id="pswdError"></div>
                    <input class="form-control" type="password" name="password" placeholder="password" required/>
                </div>
                <button type="submit" class="submit btn">Signup</button>
                <a href="login"><button type="button" class="btn btn-outline-success">Login</button></a>
                <a href="/"><button type="button" class="btn btn-outline-danger">Home</button></a>
            </form>
            </div>
        </div>
 
    {% endblock %}
