
{% extends "main.html" %}

{% block stocknav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/stock/get?search={{sym}}">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock/history?search={{sym}}">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock/company?search={{sym}}">Company Profile</a>
          </li>
          {% if session %}
          <li class="nav-item">
            <a class="nav-link" href="/stock/companyNews?search={{sym}}">Company News</a>
          </li>
          {% endif %}
        </ul>
    </div>
    </div>
</nav>
{% endblock %}


{% block content %}


{% block quotes %}
<div class="quotes">
<div class="regularMarket">
  <h3>{{ quote.regularMarketPrice }}</h3>
  {% if '-' in quote.regularMarketChange %} 
  <span class="red">{{quote.regularMarketChange}}</span>
  {% elif '+' in quote.regularMarketChange %}
  <span class="green">{{quote.regularMarketChange}}</span>
  {% else %}
  <span class="black">{{quote.regularMarketChange}}</span>
   {% endif %} 

   {% if '-' in quote.regularMarketChangePerc %}
    <span class="red">{{quote.regularMarketChangePerc}}</span>
    {% elif '+' in quote.regularMarketChangePerc %}
    <span class="green">{{quote.regularMarketChangePerc}}</span>
    {% else %}
    <span class="black">{{quote.regularMarketChangePerc}}</span>
    {% endif %}
    <span>{{quote.atClose}}</span>
</div>
{% if quote.postMarketPrice %}
<div class="postMarket">
  <h3>{{ quote.postMarketPrice }}</h3>
  {% if '-' in quote.postMarketChange %} 
  <span class="red">{{quote.postMarketChange}}</span>
  {% elif '+' in quote.postMarketChange %}
  <span class="green">{{quote.postMarketChange}}</span>
  {% else %}
  <span class="black">{{quote.postMarketChange}}</span>
   {% endif %} 

   {% if '-' in quote.postMarketChangePerc %}
    <span class="red">{{quote.postMarketChangePerc}}</span>
    {% elif '+' in quote.postMarketChangePerc %}
    <span class="green">{{quote.postMarketChangePerc}}</span>
    {% else %}
    <span class="black">{{quote.postMarketChangePerc}}</span>
    {% endif %}
    <span>{{quote.afterClose}} {{quote.postMarketTime}}</span>
</div>
{% endif %}
</div>
{% endblock %}


<div id="summaryDiv">
<h1 class="stockH">{{ sym }}'s Data</h1>
<!--{{ htmlData|safe }}-->
<!--<div class="table-wrapper">
<table class="table table-striped table-fixed">
    <thead class="sticky">
    <tr>
    {% for item in fields %}

        {% if item.name != "symbol" %}
            <th>{{ item.name }}</th>
        {% endif %}
    {% endfor %}
        </tr>
    </thead> 
    <tbody>
    {% for item in data %}
    <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.open }}</td>
            <td>{{ item.high }}</td>
            <td>{{ item.low }}</td>
            <td>{{ item.close }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.adjclose }}</td>
            <td>{{ item.dividends }}</td>
        </tr>  
    {% endfor %}
    </tbody>
</table>
</div>-->
<h2>Summary</h2>
<table class="table table-striped table-fixed">
   
        {% for i in summary %}
        <tr>
            <th>{{ i }}</th>
            <td>{{ summary[i] }}</td>
        </tr>
        {% endfor %}
 
</table>
</div> 
{% endblock %}